.cards{    
    &__item{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        padding: 20px 20px;
        box-shadow: -2px 2px 20px -12px $GrayishBlue;
        border-radius: 25px;
        @include breakPoints-up(medium){
            flex-direction: row-reverse;
            &:nth-child(even){
                flex-direction: row;
            }
            padding: 50px 100px;
            justify-content: center;
            align-items: center;
        }
    }

    &__info{
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        @include breakPoints-up(medium){
            text-align: left;
            align-self: center;
        }
        h3{
            padding-bottom: 1.375rem;
            padding-top: 1.375rem;
            color: $VeryDarkCyan;
            font-size: 1.25rem;
            @include breakPoints-up(medium){
                font-size: 1.5rem;
            }
        }
        p{
            color: $GrayishBlue;
            font-size: 0.75rem;
            font-weight: lighter;
            padding-bottom: 2.375rem;
            padding-left: 1.8rem;
            padding-right: 1.8rem;
            line-height: 1.5;
            @include breakPoints-up(medium){
                padding-left: 0;
            }
        }
    }
    &__img{
        height: 100%;
        @include breakPoints-up(medium){
            height: 50%;
        }
        @include breakPoints-up(large){
            height: 100%;
            width: 45%;
        }
    }
}

.cta-card{
    position: relative;
    padding-top: 7.5rem;
    width: 100%;
    .card{
        background-color: white;
        text-align: center;
        box-shadow: -2px 2px 20px -12px $GrayishBlue;
        border-radius: 14px;
        width: 100%;
        height: 176px;

        h2{
            color: $VeryDarkCyan;
            padding-bottom: 2rem;
            padding-top: 3.125rem;

            font-size: 1rem;
        }
        &__cta{
            font-weight: 700;
            color: white;
            font-size: 0.6rem;
            padding: 16px 48px;
            border-radius: 50px;
            background-color: $Pink;
            box-shadow: -2px 2px 20px -12px $GrayishBlue;
        }
    }
}