.cards{
    &__item{
        margin-top: 40px;
        box-shadow: -2px 2px 20px -12px $GrayishBlue;
        border-radius: 25px;
    }

    &__info{
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        h3{
            padding-bottom: 1.375rem;
            color: $VeryDarkCyan;
            font-size: 1.25rem;
        }
        p{
            color: $GrayishBlue;
            font-size: 0.75rem;
            font-weight: lighter;
            padding-bottom: 2.375rem;
            padding-left: 1.8rem;
            padding-right: 1.8rem;
            line-height: 1.5;
        }
    }
    &__img{
        padding: 60px 50px;
    }
}

.cta-card{
    position: relative;
    padding-top: 7.5rem;
    width: 100%;
    .card{
        background-color: white;
        text-align: center;
        box-shadow: -2px 2px 20px -12px $GrayishBlue;
        border-radius: 14px;
        width: 100%;
        height: 176px;

        h2{
            color: $VeryDarkCyan;
            padding-bottom: 2rem;
            padding-top: 3.125rem;

            font-size: 1rem;
        }
        &__cta{
            font-weight: 700;
            color: white;
            font-size: 0.6rem;
            padding: 16px 48px;
            border-radius: 50px;
            background-color: $Pink;
            box-shadow: -2px 2px 20px -12px $GrayishBlue;
        }
    }
}