.cards{

    &__item{
        margin-top: 50px;
        box-shadow: -2px 2px 20px -12px $GrayishBlue;
        border-radius: 25px;
    }

    &__info{
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        h3{
            padding-bottom: 1.1rem;
            color: $VeryDarkCyan;
            font-size: 1.2rem;
        }
        p{
            color: $GrayishBlue;
            font-size: 0.96rem;
            font-weight: lighter;
            padding-bottom: 2rem;
            line-height: 1.5;
        }
    }
    &__img{
        padding: 35px 50px;
        width: 100%;
        height: 100%;
    }
}

.cta-card{
    padding: 50px 0;
    .card{
        text-align: center;
        box-shadow: -2px 2px 20px -12px $GrayishBlue;
        border-radius: 25px;
        width: 100%;
        padding: 30px;

        h2{
            color: $VeryDarkCyan;
            padding-bottom: 30px;
            font-size: 0.90rem;
        }
        &__cta{
            font-weight: 700;
            color: white;
            font-size: 0.75rem;
            padding: 12px 35px;
            border-radius: 50px;
            background-color: $Pink;
            box-shadow: -2px 2px 20px -12px $GrayishBlue;
        }
    }
}