.footer{
    margin-top: -45px;
    background-color: $VeryDarkCyan;
    color: white;
    a{
        text-decoration: none;
        color: white;
        font-size: 1.3rem;
    }

    ul{
        list-style-type: none;
        li{
            margin-top: 25px;
        }
    }

    &__info{
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .contact{
            display: flex;
            align-content: flex-start;
            justify-content: start;
            img{
                width: 20px;
                margin-top: 5px;
            }
            p{
                margin-left: 20px;
                font-size: 1.3rem;
            }
        }
        .footer-1{
            margin-top: 30px;
            .logo{
                width: 150px;
            }
        }
    }

    .footer-4{
        margin-top: 45px;
        text-align: center;
        font-size: 2rem;
    }

    &__copyright{
        padding: 25px;
        text-align: center;
        font-size: 0.7rem;
    }
}

.attribution{
    text-align: center;
    font-size: 0.8rem;
}