

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: $VeryDarkCyan;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: $bodySize;
}
img{
    height: 100%;
    width: 100%;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
}

