.header{
    width: 100%;
    height: auto;
    display: block;
    background-image: url(../../images/bg-hero-mobile.svg);
    background-position: center top;
    background-size: 120%;
    background-repeat: no-repeat;
    border-color: $VeryPaleCyan;

    .container{
        height: auto;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        text-align: center;

        .nav{
            top: 0;
            max-width: 1080px;
            width: 100%;
            margin: 0 auto;
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__logo{
        width: 120px;
    }

    &__cta{
        font-weight: 700;
        font-size: 1rem;
        padding: 10px 45px;
        border-radius: 50px;
        background-color: #fff;
        box-shadow: -2px 2px 20px -10px $GrayishBlue;

    }

    .hero{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 35px;

        &__info{
            h1{
                font-size: 2rem;
                color: $VeryDarkCyan;
                padding-bottom: 1.85rem;
                padding-top: 3rem;
            }

            p{
                font-size: 1.3rem;
                font-weight: 300;
                line-height: 1.5;
                color: $VeryDarkCyan;
                padding-bottom: 3rem;
            }
        }

        &__cta{
            font-weight: 700;
            color: white;
            font-size: 0.85rem;
            padding: 16px 60px;
            border-radius: 50px;
            background-color: $Pink;
            box-shadow: -2px 2px 20px -12px $GrayishBlue;
        }

        &__img{
            max-width: 500px;
            margin-top: 80px;
        }

    }
}
