.header{
    width: 100%;
    height: auto;
    display: block;
    background-image: url(../../images/bg-hero-mobile.svg);
    background-position: center top;
    background-size: 120%;
    background-repeat: no-repeat;
    background-color: $VeryPaleCyan;
    @include breakPoints-up(medium){
        background-image: url(../../images/bg-hero-desktop.svg);
    }

    .container{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .nav{
            position: relative;
            top: 0;
            width: 100%;
            padding-top: 1.75rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include breakPoints-up(medium){
                padding-top: 3.5rem;
            }
        }
    }

    &__logo{
        width: 124px;
        @include breakPoints-up(medium){
            width: 200px;
        }
    }

    &__cta{
        font-weight: 700;
        font-size: 0.6875rem;
        padding: 8px 24px;
        border-radius: 50px;
        background-color: #fff;
        box-shadow: -2px 2px 20px -10px $GrayishBlue;
        @include breakPoints-up(medium){
            font-size: 1rem;
            padding: 16px 65px;
            &:hover{
                cursor: pointer;
                color: $GrayishBlue;
            }
        }

    }

    .hero{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 2rem;

        @include breakPoints-up(medium){
            flex-direction: row;
            text-align: left;
        }

        &__info{

            @include breakPoints-up(medium){
                flex: 2;
                margin-right: 50px;
                align-self: inherit;
            }
            h1{
                font-size: 1.2rem;
                color: $VeryDarkCyan;
                padding-bottom: 2.375rem;
                padding-top: 4rem;
                padding-right: 2.75rem;
                @include breakPoints-up(medium){
                    font-size: 3vw;
                    padding-top: 0;
                    padding-bottom: 1rem;
                }
                // @include breakPoints-up(medium){
                //     padding-left: 0;
                //     padding-top: 0;
                //     font-size: 1.5rem;
                // }
                // @include breakPoints-up(large){
                //     font-size: 2.5rem;
                    
                // }
            }

            p{
                font-size: 0.75rem;
                font-weight: 300;
                line-height: 1.5;
                color: $VeryDarkCyan;
                padding-right: 1.57rem;
                padding-bottom: 2.375rem;
                @include breakPoints-up(medium){
                    padding-left: 0;
                }
            }
        }

        &__cta{
            font-weight: 700;
            color: white;
            font-size: 0.75rem;
            padding: 0.75rem 3.75rem;
            border-radius: 50px;
            background-color: $Pink;
            box-shadow: -2px 2px 20px -12px $GrayishBlue;
            @include breakPoints-up(medium){
                font-size: 0.85rem;
                padding: 20px 70px;
                &:hover{
                    cursor: pointer;
                    background-color: hotpink;
                }
            }
        }

        &__img{
            margin-top: 56px;
            margin-bottom: 32px;
            @include breakPoints-up(medium){
                flex: 3;
                width: 100%;
                margin-top: 10px;
            }
            /* @include breakPoints-up(medium){
                max-width: 520px;
                margin-top: 70px;
            } */
        }

    }
}
